@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

form {
  background-color: #0f52ba;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 60px;
  padding: 5rem 2rem;
  justify-content: center;
}

form .input {
  border-radius: 5%;
}

view .div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5rem 2rem;
  justify-content: center;
}
